@font-face {
	font-family: "BBVAnalyzr";
	src: url("font/bbvanalyzr.ttf") format("truetype");
}
:root {
	/* Colors */
	--prova: #eff5f7;
	--v-offset: 6.575vh;
	--v-offset-alt: 5.0vh;
}
* {
	margin: 0;
	padding: 0;
	user-select: none;
}
html, body {
	font-family: BBVAnalyzr, Arial, sans-serif;
	font-size: 48px;
	color: #151515;
}
body {
	background-color: #000519;
	width: 100vw;
	height: 100vh;
	/* overflow: hidden; */
}
img {
	user-select: none;
	pointer-events: none;
}
.arrow-white {
	/* Left pointing SVG arrow */
	background: url('data:image/svg+xml,<svg fill="%23ffffff" height="100%" width="100%" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 490 490" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><g><g><polygon points="332.668,490 82.631,244.996 332.668,0 407.369,76.493 235.402,244.996 407.369,413.507 "></polygon></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></g></g></svg>');
	width: 3.75vw;
	height: 3.75vw;
}
.arrow-blue {
	/* Left pointing SVG arrow */
	background: url('data:image/svg+xml,<svg fill="%2300587d" height="100%" width="100%" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 490 490" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><g><g><polygon points="332.668,490 82.631,244.996 332.668,0 407.369,76.493 235.402,244.996 407.369,413.507 "></polygon></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></g></g></svg>');
	width: 3vw;
	height: 3vw;
}
/* Screenshot */
.screenshots-container {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	/* opacity: 1; */
	z-index: -1;
	overflow: visible;
}
.screenshots-container img {
	/* object-fit: cover; */
	object-fit: contain;
	width: 100vw;
	position: absolute;
	/* top: -3.5vh; */
	left: 0;
}
.screenshots-container img:nth-child(1) {
	z-index: -1;
}
.screenshots-container img:nth-child(2) {
	z-index: -2;
}
.screenshots-container img:nth-child(2) {
	z-index: -3;
}
#main-screenshot-01 {}
#main-screenshot-02 {
	top: 45vh
}
/* Main content container */
#main {
	display: inline-flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100vw;
	height: 100vh;
	/* height: 93vh; */
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
}
#main-section {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
#secondary-section {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
/* Generic transparent class */
.transparent {
	opacity: 0.5;
}
/* Overlays */
#overlay-1 {
	/* width: 100%; */
	width: 100%;
	height: 12.5vh;
	position: absolute;
	top: 15.5vh;
	/* left: 53vw; */
	background-color: #000519;
	font-size: 0.9em;
	display: inline-flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	overflow: visible;
	color: #ffffff;
	/* Set opacity and border for testing */
	/* border: white 2px solid; */
	/* opacity: 20%; */
}
/* Button mask */
.account-balance {
	/* width: 100%; */
	width: 40%;
	height: 8.5vh;
	position: absolute;
	/* top: 33.15vh; */
	left: 53vw;
	background-color: #11192d;
	font-size: 0.9em;
	display: inline-flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	overflow: visible;
	color: #ffffff;
	/* Set opacity and border for testing */
	/* border: white 2px solid; */
	/* opacity: 50%; */
}
.account-balance > div {
	margin-right: 0.325em;
	/* font-weight: bold; */
	margin-bottom: 0.1em;
}
.account-balance > div > * {
	user-select: none;
	margin: 0;
}
.account-balance .balance {
	/* font-weight: bold; */
	font-size: 1.5em;
	margin-top: -0.3em;
	display: inline-flex;
	flex-direction: row;
	align-items: baseline;
}
.account-balance .small-balance {
	position: absolute;
	top: -7.375vh;
	right: -4.75vw;
	background-color: #000519;
	/* background-color: #ff000040; */
	padding: 1vh 1.5vw 1vh 25vw;
	border-radius: 0;
	/* opacity: 0.5; */
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}
#balance-1 {
	/* top: 33.15vh - 3.5vh; */
	/* top: 29.65vh; */
	/* top: calc(29.65vh + var(--v-offset)); */
	/* top: 29.65vh + 6.575vh; */
	top: 36.7vh;
}
#balance-2 {
	/* top: 51.15vh - 3.5vh; */
	/* top: 47.65vh; */
	/* top: calc(47.65vh + var(--v-offset)); */
	top: 56.575vh;
}
#scroll-tabs-1 {
	/* top: 14vh - 3.5vh; */
	/* top: 10.5vh; */
	/* top: calc(10.5vh + var(--v-offset-alt)); */
	top: 15.5vh;
}
.scroll-tabs {
	position: absolute;
	/* Scrollable horizontally */
	/* overflow-x: hidden;
	overflow-y: hidden; */
	overflow: hidden;
	white-space: nowrap;
	padding: 1vh 0vw;
	width: 100vw;
	box-sizing: border-box;
	/* Opacity for testing */
	/* opacity: 0.1; */
	pointer-events: all;
}
.scroll-tabs *::-webkit-scrollbar {
	height: 0;
	opacity: 0;
}
.scroll-tabs *::-webkit-scrollbar-thumb {
	background-color: transparent;
}
.scroll-tabs *::-webkit-scrollbar-track {
	background-color: transparent;
}
.scroll-tabs-container {
	display: inline-block;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	box-sizing: border-box;
	width: 100vw;
	overflow-x: scroll;
	pointer-events: all;
	padding: 0vh 3.675vw;
}
.scroll-tab {
	display: inline-block;
	width: 35vw;
	height: 10.25vh;
	background-color: #11192d;
	border-radius: 3vw;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding-left: 4vw;
	margin-right: 1vw;
	display: inline-flex;
	pointer-events: all;
}
.tab-val-1 {
	font-size: 1.5em;
	/* font-weight: bold; */
	color: white;
}
.price-num {
	font-size: 1em;
	margin-right: -0.1em;
}
.price-euro {
	font-size: 0.6em;
	/* vertical-align: baseline; */
	margin-left: 0.025em;
}
.tab-val-2 {
	font-size: 1em;
	color: #6191bd;
	margin-top: 5px;
	font-weight: bold;
}
#main-section-button {
	width: 90%;
	height: 8.5vh;
	position: absolute;
	/* top: 31.5vh - 3.5vh; */
	/* top: 28vh; */
	top: 38.5vh;
	left: 5%;
	background-color: #000519;
	/* background-color: #ff0000; */
	opacity: 0;
	/* Make the div not selectable */
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	z-index: 20;
}
.secondary-section-button {
	z-index: 9;
	user-select: none;
	position: absolute;
	/* background-color: #ff0000; */
	opacity: 0;
}
.secondary-section-clickable-text {
	/* background-color: #ff0000; */
}
#secondary-section-button-01 {
	width: 30vw;
	height: 16vw;
	top: 12vw;
	right: 0;
}
#secondary-section-button-02 {
	width: 100vw;
	height: 23vw;
	top: 72vw;
	left: 0;
}
#secondary-section-button-03 {
	width: 100vw;
	height: 23vw;
	top: 112vw;
	left: 0;
}
#secondary-section-button-04 {
	width: 100vw;
	height: 23vw;
	top: 153vw;
	left: 0;
}
#secondary-section-button-05 {
	width: 30vw;
	height: 10vw;
	top: 181vw;
	right: 0;
}
#price-values-toggle {
	width: 12.5vw;
	height: 15vw;
	position: absolute;
	/* top: 1.5vh; */
	top: 6.5vh;
	left: 1.25vh;
	background-color: #000519;
	opacity: 0;
	z-index: 60;
	/* background-color: #ff0000;
	opacity: 0.5; */
}
#back-button {
	width: 12vw;
	height: 12vw;
	position: absolute;
	top: 1vh;
	left: 2vh;
	opacity: 0;
	z-index: 20;
}
.back-button {
	margin-left: 6%;
}
#login-overlay {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background-color: transparent;
	z-index: 100;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* opacity: 0.95; */
	font-size: 2em;
}
#login-overlay .cover {
	width: 100%;
	height: 100%;
	background-color: #000519;
	opacity: 0.85;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
#login-overlay .login-container {
	color: white;
	text-align: center;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 10;
	background-color: #11192d;
	border-radius: 3.5vw;
	width: 75%;
	padding: 2.5vh 6.5vw;
}
#login-overlay .login-container div {
	width: 100%;
	margin-bottom: 2vh;
	display: inline-flex;
	flex-direction: column;
}
#login-overlay input[type="text"],
#login-overlay input[type="password"] {
	width: 100%;
	/* height: 6vh; */
	border-radius: 1.25vh;
	padding: 1.5vh 1.875vw;
	box-sizing: border-box;
	font-size: 0.5em;
	border: 0.125em solid #ffffff;
	outline: 0.125em solid transparent;
}
#login-overlay input[type="text"]:focus,
#login-overlay input[type="password"]:focus {
	border: 0.125em solid #6191bd;
	outline: 0.125em solid #ffffff;
}
#login-overlay input[type="text"]::placeholder,
#login-overlay input[type="password"]::placeholder {
	color: #cccccc;
}
#login-overlay button {
	width: 100%;
	background-color: #6191bd;
	color: white;
	border: none;
	border-radius: 1.25vh;
	cursor: pointer;
	padding: 1.5vh 0;
	font-size: 0.6em;
	font-weight: bold;
}
#login-overlay button.alt-style {
	background-color: transparent;
	border: 2px solid #6191bd;
	color: #6191bd;
}
#login-overlay .login-container .title {
	color: #6191bd;
	font-size: 0.8em;
	font-weight: bold;
}
#login-overlay .login-container * {
	margin-bottom: 0.75vh;
}
@media (pointer:none), (pointer:coarse) {
	/* #main {
		height: 100vh;
	} */
}